@model IEnumerable<AplicativoWebAcademiaTreinee.Models.PessoaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeFilhos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantidadeFilhos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Situacao)
                    </td>
                    <td>
                        @if (item.Situacao != null && item.Situacao.Equals("Inativo"))
                        {
                            <div class="d-inline rounded-pill px-1 link-disabled">Edit</div>
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.Codigo" class="rounded-pill px-1 link-edit">Edit</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Codigo" class="rounded-pill px-1 link-details">Details</a>
                        @if (item.Situacao != null && item.Situacao.Equals("Ativo"))
                        {
                            <div class="d-inline rounded-pill px-1 link-disabled">Delete</div>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.Codigo"  class="rounded-pill px-1 link-delete">Delete</a>
                        }
                        <a asp-action="alterarStatus" asp-route-id="@item.Codigo" class="rounded-pill px-1 link-alterar-status">Alterar Status</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
